.shoot {
    width: 2%;
    height: 0;
    padding-top: 2%;
    position: absolute;
    background: green;
    display: block;
}

.ring-square {
    position: relative;
    border-color: red;
    border-width: 1px;
    border-style: solid;
    width: 628px;
    top: 291;
    left: 88;
    height: 400px;
}