body {
    background-color: #000000;
    height: 100px;
}

div#background {
    background-image: url('../images/bg-space-invaders.png');
    width: 800px;
    height: 780px;
    position: absolute;
    z-index: 3;
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: dashed groove dashed inset;    
    border-color: white;
}

audio#audioF{
    display: none;
}

div#bgJuego{
    background-image: url('../images/bg_space.gif');
    background-repeat: round;
    border-radius: 15px;
    width: 628px;
    height: 400px;
    /* background-color: green; */
    position: absolute;
    top: 291px;
    left: 88px;
    z-index: 1;
}

div#zonaJuego {
    width: 440px;
    height: 400px;
    /* background-color: rgb(223, 18, 18); */
    position: relative;
    left: 95px;
}

/* MARGEN PUNTUACION */

h1, h2 {
    color: white;
    text-align: center;
}
/* 
#img {
    background-image: url("images/emojiP.png");
    background-repeat: no-repeat;
    height: 100%; 
    margin: auto;
    display: block;
} */

section {
    width: 300px;
    height: 600px;
    border-style: dotted;
    border-color: white;
    left: 55px;
    margin-left: 187px;
    margin-top: 168px;
}

div#section2 {
    width: 300px;
    height: 300px;
    border-style: dotted;
    border-color: white;
    margin-left: 1400px;
    margin-top: -400px;
}

/* div#leftSidebar {
    width: 300px;
    height: 800px;
    border-style: dotted;
    border-color: white;
    left: 55px;
    margin-left: 17px;
    margin-top: 68px;
} */

.scores {
    /* background-color: blue; */
    width: 200px;
    height: 300px;
    position: absolute;
    left: 250px;
    top: 197px;
    border-style: inset;
    border-color: white;
}

/* .urScore {
    background-color: yellow;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 75px;
    top: 260px;
} 

.lifes {
    background-color: purple;
    width: 200px;
    height: 150px;
    position: absolute;
    left: 250px;
    top: 460px;
} */

.emoji {
    /* background-color: grey; */
    width: 200px;
    height: 100px;
    position: absolute;
    left: 250px;
    top: 515px;
}

.devs {
    /* background-color: brown; */
    width: 200px;
    height: 110px;
    position: absolute;
    left: 250px;
    top: 627px;
    border-style: dashed solid;    
    border-color: white;
}

.enemy {
    /* background-image: url('images/enemy.png'); */
    /* height: 50px; */
    width: 500px;
    position: absolute;
}