.game-container{
    height: 500px;
    width: 400px;
    border-style: solid;
    border-width: 3px;
    border-color: red;

}
.villain-div{
    height: 30px;
    width: 30px;
    /* background-color: black; */
    top: 15px;
    left: 197px;
    margin-left: 5px;
    margin-top: 5px;
    display : inline-block;
    /* position: absolute; */
}

.villain-image {
    max-width: 100%;
    max-height: 100%;
}